<p id="notice"><%= notice %></p>

<h1>Material Comments</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Comment</th>
      <th>Material</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_comments.each do |material_comment| %>
      <tr>
        <td><%= material_comment.author %></td>
        <td><%= material_comment.comment %></td>
        <td><%= material_comment.material_id %></td>
        <td><%= link_to 'Show', material_comment %></td>
        <td><%= link_to 'Edit', edit_material_comment_path(material_comment) %></td>
        <td><%= link_to 'Destroy', material_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material Comment', new_material_comment_path %>
