<div class="invoice-container">
test
</div>





<%= simple_form_for @invoiceline, url: :invoice_invoiceline do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.association :label, prompt: "Selectionner un client", label: "Nom du libellé" %>
  <%= f.input :name, label: "Changer le libellé par default" %>
  <%= f.input :quantity, label: "Changer la quantité" %>
  <%= f.input :price, label: "Changer le prix par default"  %>
</div>

<div class="form-actions">
  <%= f.button :submit, 'Soumettre', class: "btn btn-flat" %>
</div>
<% end %>
