<div class="container-list">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Liste des devis', invoices_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Liste des clients', clients_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Liste des libellés', labels_path, class: 'nav-link' %>
        </li>
      </ul>
      <span class="navbar-text" style="padding-right: 10px;">
        <%= form_tag invoices_path, method: 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Recherche", class: 'btn btn-flat' %>
        <% end %>
      </span>
      <span class="navbar-text">
        <%= link_to 'Nouveau devis', new_invoice_path, class: 'btn btn-flat', style: "color: #f4f4f4;" %>
      </span>
    </div>
  </nav>


  <div class="tablehead row" style="margin-top: 20px;">
    <div class="fileimg col-2"></div>
    <div class="info col-2">Nom</div>
    <div class="info col-2">Auteur</div>
    <div class="info col-2">Type</div>
    <div class="info col-2">Status</div>
    <div class="info col-2">Action</div>
  </div>

  <div class="row">
    <% @invoices.each do |invoice| %>
    <div class="document">
      <div class="fileimg col-2">
        <%= link_to invoice do %>
        <%= image_tag ( "file.png"), class: "image_link" %>
        <% end %>

      </div>
      <div class="info col-2">
        <%= link_to invoice do %>
        <%= invoice.name %>
        <% end %>
      </div>
      <div class="info col-2"><%= invoice.author %></div>
      <div class="info col-2"><%= invoice.invoicetype %></div>
      <div class="info col-2"><%= invoice.status %></div>
      <div class="info col-2">
        <%= link_to 'Voir', invoice, class: "btn-flat-edit" %>
        <%= link_to 'Modifier', edit_invoice_path(invoice), class: "btn-flat-edit" %>
        <%= link_to 'Supprimer', invoice, method: :delete, data: { confirm: 'Etes vous certain?' }, class: "btn-flat-edit" %>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate @invoices %>

</div>






