  <% if user_signed_in? %>

  <% else %>

  <div class="navbar">
    <div><%= image_tag ("logo.png") , class: "navbar-brand logoinvoice" %></div>
    <div>    <h2>  <b>Devis: </b>  <%= @invoice.name if @invoice.name.present?  %></h2>
    </div>
  </div>
  <% end %>

  <div class="container-list">

    <%= link_to 'Télécharger au format PDF', preview_path(@invoice, format: 'pdf'), class: "btn-flat btn"  %>
    <div class="spacer"></div>
    <div class="row">
      <div class="commentbox col-sm-2">
        <p>
          <strong>Auteur:</strong>
          <%= @invoice.author if @invoice.author.present?  %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= @invoice.status if @invoice.status.present?%>
        </p>

        <p>
          <strong>Type:</strong>
          <%= @invoice.invoicetype if @invoice.invoicetype.present?  %>
        </p>

        <p>
          <strong>Client:</strong>
          <%= @invoice.client.name if @invoice.client.name.present? %>
        </p>
      </div>


      <div class="spacer"></div>

      <div class="col-sm-9">

        <div class="table-invoice">
          <div class="table-invoice-line">

            <div class="col-6"><b>Libellé</b></div>
            <div class="col-2"><b>Qté</b></div>
            <div class="col-2"><b>Prix</b></div>

          </div>
        </div>

        <div class="table-invoice">
          <% @invoice.invoicelines.each do |invoiceline| %>
          <div class="table-invoice-line">

            <div class="col-6">
              <% if invoiceline.name.present? %>
              <%= invoiceline.name %>
              <% else %>
              <%= invoiceline.label.name %>
              <% end %>
            </div>

            <div class="col-2"><%= invoiceline.quantity%></div>
            <div class="col-2">
              <% if invoiceline.price.present? %>
              <%= invoiceline.price %> €
              <% elsif invoiceline.label.present? && invoiceline.label.price != nil %>
              <%= invoiceline.label.price %> €
              <% elsif invoiceline.label.price == nil && invoiceline.label.price == 0 %>
              Probleme devis
              <% else %>
              Probleme devis
              <% end %>
            </div>
          </div>

          <% end %>
        </div>
        <div class="table-invoice">
          <div class="table-invoice-line">
            <div class="col-1"><b>Total HT:</b></div>
            <div class="col-2"><%= @sum %> €</div>

          </div>
        </div>
        <div class="table-invoice">
          <div class="table-invoice-line">
            <div class="col-1"><b>Total TTC:</b></div>
            <div class="col-2"><%= @sumttc %> €
              <% if @invoice.status === "paiement effectué" %>
              Devis payé
              <% else %>

              <%= form_tag charges_path do %>
              <input type="hidden" name="invoice_id" value='<%= @invoice.id %>'>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button cta"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Payer le devis"
              data-amount="<%= @amount.to_i %>"
              data-locale="auto" data-currency="eur" data-label="Payer le devis">

            </script>


            <% end %>
            <% end %>
          </div>

        </div>
      </div>














    </div>
  </div>
</div>
