<div class="header">
  <div class="action">
  <h2>Vos factures</h2>
  <%= link_to 'Nouvelle Facture', new_invoice_path, class: "btn btn-flat" %>
  </div>
</div>


<div class="container-show">
  <div class="left-container">
    <iframe src="http://localhost:3000/invoices/preview/<%= @invoice.id %>.pdf" width="600" height="780" style="border: none;"> </iframe>
  </div>


  <div class="right-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
                  <a href="#" class= "nav-link ">Envoyer</a>
      </li>
      <li class="nav-item">
                  <a href="#" class= "nav-link">Relancer</a>
      </li>

         <li class="nav-item">
                  <%= link_to 'Voir', preview_path(@invoice, format: 'pdf'), class: "nav-link" %>
      </li>
                   <li class="nav-item">
                  <%= link_to 'Télécharger', preview_path(invoice, format: 'pdf'),  download: true, class: "nav-link" %>
      </li>
         <li class="nav-item">
                <%= link_to 'Supprimer', @invoice, method: :delete, data: { confirm: 'Etes vous certain?' }, class: "nav-link" %>
      </li>

    </ul>
  </div>
</nav>
<br/>
<b>Information sur la facture</b><br/><br/>
<p>Destinataire:<% if @client.present? %>
        <%= @client.email  %>
     <% end %> </p>
<p>Crée le: <%= @invoice.created_at.strftime('%y/%m/%y ')  %></p>
<p>Echéanche: <%= (@invoice.created_at + @invoice.days.to_i.days).strftime('%d/%m/%y ') %> </p>
<p>Statut: <span class="badge badge-primary"><%= @invoice.status %></span></p>


<b>Information sur l'entreprise </b><br/><br/>
<p>Adresse: <%= @user.address  %></p>
<p>Banque: <%= @user.bank  %></p>
<p>RIB: <%= @user.bank  %></p>
<p>Siret: <%= @user.siret  %></p>
<p><%= link_to 'Modifier',edit_user_registration_path, class: "btn btn-flat" %>
</p>

  </div>
</div>

