<div class="container-list">
  <div class="row align-items-start">
    <% @folders.each do |folder| %>
    <div class="col-lg-3 file">
      <% if current_user.superadmin_role? || current_user.supervisor_role? %>
      <p>
        <%= link_to 'Modifier', edit_folder_path(folder), class: "btn-flat-edit" %>
        <%= link_to 'Supprimer', folder, method: :delete, data: { confirm: 'Etes-vous sûr?' }, class: "btn-flat-delete" %>
      </p>
      <% end %>

      <%= link_to  folder_documents_path(folder) do %>
      <p><%= image_tag ( "folder.png"), class: "image_link" %></p>
      <p class="title"><%= folder.name %></p>
      <% end %>

    </div>
    <% end %>
  </div>
  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to 'Ajouter un dossier', new_folder_path, class: "btn-flat" %>
  <% end %>

</div>
