<div class="container-list">
  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to 'Ajouter un dossier', new_folder_path, class: "btn-flat" %>
  <div class="spacer"></div>
  <% end %>

  <% @folders.each do |folder| %>
  <div class="row document">

    <div class="fileimg">
      <%= link_to folder_documents_path(folder) do %>
      <%= image_tag ( "folder.png"), class: "image_link" %>
      <% end %>

    </div>



    <div class="title">
      <%= link_to folder_documents_path(folder) do %>
      <%= folder.name %>
      <% end %>
    </div>

    <div class="info">
      <p> <i>Crée le <%= folder.created_at %></i> </p>
      <p> <i>Modifié le <%= folder.updated_at %></i> </p>
    </div>


    <div class="edit">
      <% if current_user.superadmin_role? || current_user.supervisor_role? %>
      <%= link_to 'Modifier',  edit_folder_path(folder), class: "btn-flat-edit" %>
      <%= link_to 'Supprimer',folder, method: :delete, data: { confirm: 'Etes-vous sûr?' }, class: "btn-flat-delete" %>
      <% end %>
    </div>

  </div>
  <% end %>

</div>

