<div class="container-list">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Liste des devis', invoices_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Liste des clients', clients_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Liste des libellés', labels_path, class: 'nav-link' %>
        </li>
      </ul>
      <span class="navbar-text">
          <%= link_to 'Nouveau libellé', new_label_path, class: 'btn btn-flat', style: "color: #f4f4f4;" %>
      </span>
    </div>
  </nav>

  <div class="tablehead row" style="margin-top: 20px;">
    <div class="fileimg col-2"></div>
    <div class="info col-2">Nom du libelé</div>
    <div class="info col-2">Type</div>
    <div class="info col-2">Description</div>
    <div class="info col-2">Prix</div>
    <div class="info col-2">Action</div>
  </div>


  <div class="row">
    <% @labels.each do |label| %>
    <div class="document">
      <div class="fileimg col-2">
        <%= link_to label do %>
        <%= image_tag ( "file.png"), class: "image_link" %>
        <% end %>

      </div>
      <div class="info col-2">
        <%= link_to label do %>
        <%= label.name %>
        <% end %>
      </div>
      <div class="info col-2"><%= label.labeltype %></div>
      <div class="info col-2"><%= label.description %></div>
      <div class="info col-2"><%= label.price %></div>
      <div class="info col-2">
        <%= link_to 'Voir', label, class: "btn-flat-edit" %>
        <%= link_to 'Modifier', edit_label_path(label), class: "btn-flat-edit" %>
        <%= link_to 'Supprimer', label, method: :delete, data: { confirm: 'Etes vous certain?' }, class: "btn-flat-edit" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

