<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @label.name %>
</p>

<p>
  <strong>Labeltype:</strong>
  <%= @label.labeltype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @label.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @label.price %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
