<div class="navbar-lewagon">
  <div class="logo">
  <%= link_to root_path do %>
  <h1>Rise</h1>
  <% end %>
</div>

<div class="menu">
    <% if user_signed_in? %>

    <%= link_to  invoices_path do %>
      <i class="fas fa-piggy-bank" aria-hidden="true"></i>
<% end %>

    <%= link_to  invoices_path do %>
      <i class="fas fa-receipt" aria-hidden="true"></i>
<% end %>



      <%= link_to  invoices_path do %>
      <i class="fas fa-file-invoice-dollar" aria-hidden="true"></i>
<% end %>



      <%= link_to destroy_user_session_path, method: :delete do %>
           <i class="fas fa-cog" aria-hidden="true"></i>
<% end %>


    <% else %>

    <% end %>
</div>
<div></div>
<div></div>
<div></div>
</div>
