
<%= simple_form_for([@folder, @document]) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :name, label: 'Nom du document' %>
  <div>
    <%= f.file_field :document %>
  </div>
</div>
<div class="spacer"></div>
<div class="form-actions btn btn-flat">
  <%= f.button :submit, "Ajouter le fichier" %>
</div>
<% end %>
