<div class="container-list">

  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to 'Ajouter un document', new_folder_document_path, class: "btn-flat" %>
  <div class="spacer"></div>
  <% end %>

  <% @documents.each do |document| %>

  <div class="row document">

    <div class="fileimg">
      <%= link_to document.document.url do %>
      <%= image_tag ( "file.png"), class: "image_link" %>
      <% end %>

    </div>

    <div class="title">
      <%= link_to document.document.url do %>
      <%= document.name %>
      <% end %>
    </div>

    <div class="info">
      <p> <i>Crée le <%= document.created_at %></i> </p>
    </div>
    <div class="info">
     <p> <i>Modifié le <%= document.updated_at %></i> </p>

   </div>


   <div class="edit">
    <% if current_user.superadmin_role? || current_user.supervisor_role? %>
    <%= link_to 'Modifier',  edit_folder_document_path(@folder, document), class: "btn-flat-edit" %>
    <%= link_to 'Supprimer',[@folder, document], method: :delete, data: { confirm: 'Etes-vous sûr?' }, class: "btn-flat-delete" %>
    <% end %>
  </div>

</div>
<% end %>
<div class="spacer"></div>
<%= link_to 'Retour',  root_path, class: "btn-flat-edit" %>

</div>

