<div class="header">
  <h2>Consulter les documents de</h2>
  <h1> <%= @folder.name %></h1>
  <div class="action">
  <div> <%= link_to 'Revenir à la liste des dossiers', root_path %></div>
   <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to 'Ajouter un document', new_folder_document_path, class: "btn-flat" %>
  <% end %>
</div>

</div>


<div class="container-list">


  <% @documents.each do |document| %>

      <%= link_to document.document.url do %>
    <div class="notification">
      <img src='https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80' class="avatar-large" />
  <div class="notification-content">
      <%= link_to document.document.url do %>
    <p><small><%= document.name %></small>
    <% end %>
  </p>
    <p> <i>Crée le <%= document.created_at %></i> </p>
    <p> <i>Modifié le <%= document.updated_at %></i> </p>
     </div>
  <div class="notification-actions">
  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to edit_folder_document_path(@folder, document) do %>
    Modifier <i class="fas fa-pencil-alt"></i>
    <% end %>
  <%= link_to [@folder, document], method: :delete, data: { confirm: 'Êtes-vous certain de vouloir supprimer ce fichier?' } do %>
    Supprimer <i class="far fa-trash-alt"></i>
    <% end %>
  <% end %>
  </div>
  <% end %>
  </div>
<% end %>







</div>

