
<div class="container-list">
  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to 'Ajouter un appareil', new_material_path, class: "btn-flat" %>
  <div class="spacer"></div>
  <% end %>
<div class="filters">
  <div>
   <%= form_tag materials_path, method: 'get' do %>
   <%= text_field_tag :search, params[:search] %>
   <%= submit_tag "Recherche", class: 'btn btn-flat' %>
   <% end %>
   <%= link_to 'Annuler', materials_path, class: 'btn btn-flat-edit' %>
 </div>
 <div>
   <%= form_for @filter, html: {class: "filters"}  do |f| %>
   <%= f.select :brand, options_from_collection_for_select(Material.all, :brand, :brand), {include_blank: "Marques"},{ class: 'custom-select'}  %>
   <%= f.select :materialtype, options_from_collection_for_select(Material.all, :materialtype, :materialtype), {include_blank: "Type"},{ class: 'custom-select'}  %>
   <%= f.select :company, options_from_collection_for_select(Material.all, :company, :company), {include_blank: "Entite"},{ class: 'custom-select'}  %>
   <%= f.select :supplier, options_from_collection_for_select(Material.all, :supplier, :supplier), {include_blank: "Fournisseur"},{ class: 'custom-select'}  %>
   <%= f.select :location, options_from_collection_for_select(Material.all, :location, :location), {include_blank: "Emplacement"},{ class: 'custom-select'}  %>
   <%= f.submit "Filtrer", class: 'btn btn-flat' %>
   <% end %>
   <%= link_to 'Annuler', materials_path, class: 'btn btn-flat-edit' %>
 </div>
</div>


  <div class="spacer"></div>


  <div class="spacer"></div>
  <% @filter.search_materials.each do |material| %>

  <div class="row document">

    <div class="fileimg">
      <%= link_to material do %>
      <%= image_tag ( "file.png"), class: "image_link" %>
      <% end %>

    </div>

    <div class="info">
      <%= link_to material do %>
      <%= material.name %>
      <% end %>
    </div>

    <div class="info"><%= material.company %></div>
    <div class="info"><%= material.materialtype %></div>
    <div class="info"><%= material.supplier %></div>
    <div class="info"><%= material.serial %></div>
    <div class="info"><%= material.brand %></div>
    <div class="info"><%= material.number %></div>
    <div class="info"><%= material.location %></div>


    <div class="edit">
      <% if current_user.superadmin_role? || current_user.supervisor_role? %>
      <%= link_to 'Voir', material, class: "btn-flat-edit" %>
      <%= link_to 'Modifier', edit_material_path(material), class: "btn-flat-edit" %>
      <%= link_to 'Supprimer', material, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-flat-edit" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
