<div class="header">
  <h2>Les immobilisations de:</h2>
  <h1>Abeille Consultants Associés</h1>
  <div class="action">
  <div>   <%= link_to 'Réinitialiser les filtres et la recherche', materials_path %>
</div>  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to 'Ajouter un appareil', new_material_path, class: "btn-flat" %>
  <% end %></div>

</div>


<div class="material">
<div class="filter">
<div class="filters">
  <div style="border-bottom: solid 1px;
  border-color: #D2DAE6; padding: 30px;">
      <h3>Recherche</h3>

   <%= form_tag materials_path, method: 'get' do %>
   <%= text_field_tag :search, params[:search] %>
   <div class="spacer"></div>
   <%= submit_tag "Recherche", class: 'btn btn-flat' %>
   <% end %>
 </div>
 <div style="padding: 30px;">
  <h3>Filtres par critères</h3>
   <%= form_for @filter, html: {class: "filters"}  do |f| %>
   <%= f.select :brand, Material.pluck(:brand).uniq, {include_blank: "Marques"},{ class: 'custom-select'}  %>
   <%= f.select :materialtype, Material.pluck(:materialtype).uniq, {include_blank: "Type"},{ class: 'custom-select'}  %>
   <%= f.select :company, Material.pluck(:company).uniq, {include_blank: "Entite"},{ class: 'custom-select'}  %>
   <%= f.select :supplier, Material.pluck(:supplier).uniq, {include_blank: "Fournisseur"},{ class: 'custom-select'}  %>
   <%= f.select :location, Material.pluck(:location).uniq, {include_blank: "Emplacement"},{ class: 'custom-select'}  %>
   <%= f.submit "Filtrer", class: 'btn btn-flat' %>
   <% end %>
 </div>
</div>


</div>



<div class="container-material">
  <div class="tablehead">
  <div class="fileimg col-1"></div>
  <div class="info col-1">Nom</div>
  <div class="info col-1">Entite</div>
  <div class="info col-1">Type</div>
  <div class="info col-1">Fournisseur</div>
  <div class="info col-1">Marque</div>
  <div class="info col-1">Numero de serie</div>
  <div class="info col-1">Numero interne</div>
  <div class="info col-1">Emplacement</div>
  <div class="info col-1">Action</div>
</div>
  <% @filter.search_materials.each do |material| %>

  <div class="row document">

    <div class="fileimg">
      <%= link_to material do %>
      <%= image_tag ( "file.png"), class: "image_link" %>
      <% end %>

    </div>

    <div class="info">
      <%= link_to material do %>
      <%= material.name %>
      <% end %>
    </div>

    <div class="info"><%= material.company %></div>
    <div class="info"><%= material.materialtype %></div>
    <div class="info"><%= material.supplier %></div>
    <div class="info"><%= material.serial %></div>
    <div class="info"><%= material.brand %></div>
    <div class="info"><%= material.number %></div>
    <div class="info"><%= material.location %></div>


    <div class="edit">
      <% if current_user.superadmin_role? || current_user.supervisor_role? %>
      <%= link_to 'Voir', material, class: "btn-flat-edit" %>
      <%= link_to 'Modifier', edit_material_path(material), class: "btn-flat-edit" %>
      <%= link_to 'Supprimer', material, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-flat-edit" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

</div>





