
<%= simple_form_for(@material) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :company, label: "Entité" %>
  <%= f.input :materialType, label: "Type" %>
  <%= f.input :supplier, label: "Fournisseur" %>
  <%= f.input :name, label: "Nom du materiel" %>
  <%= f.input :serial, label: "Numero de serie" %>
  <%= f.input :number, label: "Numero de materiel" %>
  <%= f.input :location, label: "Emplacement" %>
  <%= f.label :invoice %>
  <p>     <%= f.file_field :invoice %></p>
</div>

<div class="form-actions">
  <%= f.button :submit, "Soumettre materiel", class: "btn btn-flat" %>
</div>
<div class="spacer"></div>
<% end %>
