
<div class="container-material">

  <% @materials.each do |material| %>
    <%= link_to material do %>
    <div class="notification">
      <img src='https://images.unsplash.com/photo-1595860041826-de0b53177bcd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80' class="avatar-large" />
  <div class="notification-content">
  <%= link_to material do %>
    <p><small><%= material.name %></small>
    <% end %>
  </p>
    <p> <i><%= material.brand %></i> </p>
    <p> <i><%= material.company %></i> </p>
     </div>
  <div class="notification-actions">
  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to edit_material_path(material) do %>
    Modifier <i class="fas fa-pencil-alt"></i>
    <% end %>
  <%= link_to material, method: :delete, data: { confirm: "Êtes-vous certain de vouloir supprimer la référence?" } do %>
    Supprimer <i class="far fa-trash-alt"></i>
    <% end %>
  <% end %>
  </div>
  <% end %>
</div>

    <% end %>
</div>

