<div class="filters">
  <div style="border-bottom: solid 1px;
  border-color: #D2DAE6; padding: 30px;
">
      <h3>Recherche</h3>

   <%= form_tag materials_path, method: 'get' do %>
   <%= text_field_tag :search, params[:search] %>
   <div class="spacer"></div>
   <%= submit_tag "Recherche", class: 'btn btn-flat' %>
   <% end %>
 </div>
 <div style="padding: 30px;">
  <h3>Filtres par critères</h3>
   <%= form_for @filter  do |f| %>
   <%= f.select :brand, Material.pluck(:brand).uniq, {include_blank: "Marques"},{ class: 'custom-select'}  %>
   <%= f.select :materialtype, Material.pluck(:materialtype).uniq, {include_blank: "Type"},{ class: 'custom-select'}  %>
   <%= f.select :company, Material.pluck(:company).uniq, {include_blank: "Entite"},{ class: 'custom-select'}  %>
   <%= f.select :supplier, Material.pluck(:supplier).uniq, {include_blank: "Fournisseur"},{ class: 'custom-select'}  %>
   <%= f.select :location, Material.pluck(:location).uniq, {include_blank: "Emplacement"},{ class: 'custom-select'}  %>
   <%= f.submit "Filtrer", class: 'btn btn-flat' %>
   <% end %>
 </div>
</div>


