<div class="container-list">

  <%= link_to 'Télécharger Facture', @material.invoice.url, class: "btn-flat btn"  %>
  <%= link_to 'Générer Étiquette', material_path(@material, format: 'pdf'), class: "btn-flat btn"  %>

  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to 'Modifier', edit_material_path(@material), class: "btn btn-flat" %>
  <% end %>
  <%= link_to 'Retour', materials_path %>
  <div class="spacer"></div>
  <div class="row">
    <div class="commentbox col-sm-4">
     <h3>Etiquette : </h3>
     <div class="spacer"></div>
     <p>
      <strong>Entite:</strong>
      <%= @material.company %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @material.materialtype %>
    </p>

    <p>
      <strong>Fournisseur:</strong>
      <%= @material.supplier %>
    </p>

    <p>
      <strong>Marque:</strong>
      <%= @material.brand %>
    </p>
    <p>
      <strong>Nom:</strong>
      <%= @material.name %>
    </p>

    <p>
      <strong>Numero de Serie:</strong>
      <%= @material.serial %>
    </p>

    <p>
      <strong>Numero de materiel:</strong>
      <%= @material.number %>
    </p>

    <p>
      <strong>Emplacement:</strong>
      <%= @material.location %>
    </p>
  </div>

  <div class="spacer"></div>
  <div class="commentbox col-sm-4">
    <h3>Ajouter un commentaire : </h3>
    <div class="spacer"></div>
    <%= simple_form_for [@material, @material_comment] do |f| %>
    <%= f.input :author, label: 'Auteur:' %>
    <%= f.input :comment, label: 'Message:' %>
    <%= f.submit "Ajouter", class: "btn btn-flat"%>
    <% end %>
  </div>

  <div class="spacer"></div>
  <div class="col-sm-3">
    <% @material.material_comment.reverse_each do |review| %>

    <div class="card-product">
      <div class="card-product-infos">
        <p><b><i class="fas fa-comment" style="color: #004B85; font-size: 20px;"></i></b></p>
        <b>     <%= review.author %></b>
         le <i><%= review.created_at  %>:</i>
         <p> <h5><%= review.comment  %></h5>  </p>
       </div>
     </div>
     <% end %>
   </div>
 </div>
</div>
